body {
  margin: 0;
  font-family: 'Scarecrow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #e4c1f9;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 2px #a9def9;
}

h1 {
  margin: 0;
  font-size: 5.5vw;
  text-shadow: 0 0 3px #a9def9;
}

h3 {
  font-size: 2.6vw;
  text-shadow: 0 0 2px #fcf6bd;
}

#topSection {
  font-size: 2vw;
}

main {
  width: 90%;
  margin: auto;
}

section {
  background-color: #a9def9;
  padding: .5em;
  margin-bottom: 1em;
  border-radius: 7px;
  box-shadow: 0 0 3px #e4c1f9;
}

input {
  background-color: #fcf6bd;
  font-size: 1vw;
  padding-left: 2px;
}

#tableDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

th {
  text-align: left;
  color: #FCF6bd;
  border-bottom: 2px #e4c1f9 solid;
  font-size: 3vw;
  background-color: #a9def9;
  text-shadow: 0 0 2px black;
  width: fit-content;
}

tr:nth-child(odd) {
  background-color: #fcf6bd;
}

th:hover {
  cursor: pointer;
}

td {
  width: max-content;
  height: auto;
  padding: 1%;
  margin-left: 2%;
  font-size: 1.8vw;
}

.wordColumns {
  width: 20vw;
}

.buttonsTD {
  margin: auto 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.isReadTxt {
  width: 7vw;
}

img {
  width: 2.5vw;
  height: auto;
  margin: 5px;
  border-radius: 7px;
  vertical-align: middle;
}

button {
  padding: 0;
  border-radius: 7px;
  border: none;
  box-shadow: 0 0 2px black;
}

#submitBtn, #cancelBtn {
  padding: 5px;
  background-color: #acecc5;
  font-size: 1.4vw;
  font-family: 'Scarecrow';
}

.editBtn {
  background-color: #acecc5;
}

.editBtn:hover {
  background-color: #23954f;
  cursor: pointer;
}

.deleteBtn {
  background-color: #ff99c8;
}

.deleteBtn:hover {
  background-color: #b80056;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #23954f;
  cursor: pointer;  
}

.green {
  background-color: #acecc5;
}

.green:hover {
  background-color: #23954f;
  cursor: pointer;
}

.red {
  background-color: #ff99c8;
}

.red:hover {
  background-color: #b80056;
  cursor: pointer;
}

footer {
  font-size: .5vw;
}